.cabecalho{
    background-color: #f0ddee;
    box-shadow: 0 0 5px 0;
    height: 80px;
    font-family: sans-serif, 'Quicksand';

}

.cabecalho h1{
    text-align: center;
    padding-top: 20px;
}

.navigation{
    float: right;
}

.navigation ul{
    list-style: none;
    text-decoration: none;
}

.navigation li{
    position:relative;
    float:left;
    margin-right: 80px;
    margin-top: -15px;
}

.navigation li span:hover{
    background:#ffff;
    color: black;
    box-shadow:0 3px 10px 0 #CCC;
    box-shadow:0 3px 10px 0 #ccc;
    text-shadow:0px 0px 5px #fff;
}

.navigation li  ul{
    position:absolute;
    top:25px;
    left:0;
    background-color:#fff;
    display:none;
}